<!doctype html>
<html class="no-js" lang="zxx">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Courses | Education</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/progressbar_barfiller.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    
</head>

<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/loder.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index.html"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                                                                          
                                                <li class="active" ><a href="">Home</a></li>
                                                <li><a href="#">Courses</a>
                                                    <ul class="submenu">
                                                        <li><a href="./22">Python</a></li>
                                                        <li><a href="./22">MernStack</a></li>
                                                        <li><a href="./22">DataScience</a></li>
                                                        <li><a href="./22">Digital Marketing</a></li>
                                                        <li><a href="./22">Flutter</a></li>
                                                    </ul>
                                                </li>
                                                <li class="active" ><a href="#contact">Contact Us</a></li>
                                                <li class="active" ><a href="./34">Tutor</a></li>
                                                <li class="active" ><a href="./31">Admin</a></li>

                                                <!-- Button -->
                                                <li class="button-header margin-left "><a href="./22" class="btn">Login</a></li>
                                                <li class="button-header"><a href="./23" class="btn btn3">Sign Up</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!--? slider Area Start-->
        <section class="slider-area ">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-7 col-md-12">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay="0.2s">Online learning<br> platform</h1>
                                    <p data-animation="fadeInLeft" data-delay="0.4s">Build skills with our courses.</p>
<!--                                    <a href="#" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Join for Free</a>-->
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </section>
        <!-- ? services-area -->
<!--        <div class="services-area">-->
<!--            <div class="container">-->
<!--                <div class="row justify-content-sm-center">-->
<!--                    <div class="col-lg-4 col-md-6 col-sm-8">-->
<!--                        <div class="single-services mb-30">-->
<!--                            <div class="features-icon">-->
<!--                                <img src="assets/img/icon/icon1.svg" alt="">-->
<!--                            </div>-->
<!--                            <div class="features-caption">-->
<!--                                <h3>5 courses</h3>-->
<!--&lt;!&ndash;                                <p>The automated process all your website tasks.</p>&ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-6 col-sm-8">-->
<!--                        <div class="single-services mb-30">-->
<!--                            <div class="features-icon">-->
<!--                                <img src="assets/img/icon/icon2.svg" alt="">-->
<!--                            </div>-->
<!--                            <div class="features-caption">-->
<!--                                <h3>Expert instructors</h3>-->
<!--&lt;!&ndash;                                <p>The automated process all your website tasks.</p>&ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-6 col-sm-8">-->
<!--                        <div class="single-services mb-30">-->
<!--                            <div class="features-icon">-->
<!--                                <img src="assets/img/icon/icon3.svg" alt="">-->
<!--                            </div>-->
<!--                            <div class="features-caption">-->
<!--                                <h3>Well Maintained</h3>-->
<!--&lt;!&ndash;                                <p>The automated process all your website tasks.</p>&ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--         Courses area start-->
<!--        <div class="courses-area section-padding40 fix">-->
<!--            <div class="container">-->
<!--                <div class="row justify-content-center">-->
<!--                    <div class="col-xl-7 col-lg-8">-->
<!--                        <div class="section-tittle text-center mb-55">-->
<!--                            <h2>Our featured courses</h2>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="courses-actives">-->
<!--                    &lt;!&ndash; Single &ndash;&gt;-->
<!--                    <div class="properties pb-20">-->
<!--                        <div class="properties__card">-->
<!--                            <div class="properties__img overlay1">-->
<!--                                <a href="#"><img src="{% static 'assets/img/gallery/featured1.png' %}" alt=""></a>-->
<!--                            </div>-->
<!--                            <div class="properties__caption">-->
<!--                                <p>User Experience</p>-->
<!--                                <h3><a href="#">Fundamental of UX for Application design</a></h3>-->
<!--                                <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.-->

<!--                                </p>-->
<!--                                <div class="properties__footer d-flex justify-content-between align-items-center">-->
<!--                                    <div class="restaurant-name">-->
<!--                                        <div class="rating">-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star-half"></i>-->
<!--                                        </div>-->
<!--                                        <p><span>(4.5)</span> based on 120</p>-->
<!--                                    </div>-->
<!--                                    <div class="price">-->
<!--                                        <span>$135</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <a href="#" class="border-btn border-btn2">Find out more</a>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Single &ndash;&gt;-->
<!--                    &lt;!&ndash; Single &ndash;&gt;-->
<!--                    <div class="properties pb-20">-->
<!--                        <div class="properties__card">-->
<!--                            <div class="properties__img overlay1">-->
<!--                                <a href="#"><img src="{% static 'assets/img/gallery/featured2.png' %}" alt=""></a>-->
<!--                            </div>-->
<!--                            <div class="properties__caption">-->
<!--                                <p>User Experience</p>-->
<!--                                <h3><a href="#">Fundamental of UX for Application design</a></h3>-->
<!--                                <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.-->
<!--                                </p>-->
<!--                                <div class="properties__footer d-flex justify-content-between align-items-center">-->
<!--                                    <div class="restaurant-name">-->
<!--                                        <div class="rating">-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star-half"></i>-->
<!--                                        </div>-->
<!--                                        <p><span>(4.5)</span> based on 120</p>-->
<!--                                    </div>-->
<!--                                    <div class="price">-->
<!--                                        <span>$135</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <a href="#" class="border-btn border-btn2">Find out more</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Single &ndash;&gt;-->
<!--                    &lt;!&ndash; Single &ndash;&gt;-->
<!--                    <div class="properties pb-20">-->
<!--                        <div class="properties__card">-->
<!--                            <div class="properties__img overlay1">-->
<!--                                <a href="#"><img src="{% static 'assets/img/gallery/featured3.png' %}" alt=""></a>-->
<!--                            </div>-->
<!--                            <div class="properties__caption">-->
<!--                                <p>User Experience</p>-->
<!--                                <h3><a href="#">Fundamental of UX for Application design</a></h3>-->
<!--                                <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.-->

<!--                                </p>-->
<!--                                <div class="properties__footer d-flex justify-content-between align-items-center">-->
<!--                                    <div class="restaurant-name">-->
<!--                                        <div class="rating">-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star-half"></i>-->
<!--                                        </div>-->
<!--                                        <p><span>(4.5)</span> based on 120</p>-->
<!--                                    </div>-->
<!--                                    <div class="price">-->
<!--                                        <span>$135</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <a href="#" class="border-btn border-btn2">Find out more</a>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Single &ndash;&gt;-->
<!--                    &lt;!&ndash; Single &ndash;&gt;-->
<!--                    <div class="properties pb-20">-->
<!--                        <div class="properties__card">-->
<!--                            <div class="properties__img overlay1">-->
<!--                                <a href="#"><img src="{% static 'assets/img/gallery/featured2.png' %}" alt=""></a>-->
<!--                            </div>-->
<!--                            <div class="properties__caption">-->
<!--                                <p>User Experience</p>-->
<!--                                <h3><a href="#">Fundamental of UX for Application design</a></h3>-->
<!--                                <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.-->

<!--                                </p>-->
<!--                                <div class="properties__footer d-flex justify-content-between align-items-center">-->
<!--                                    <div class="restaurant-name">-->
<!--                                        <div class="rating">-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star-half"></i>-->
<!--                                        </div>-->
<!--                                        <p><span>(4.5)</span> based on 120</p>-->
<!--                                    </div>-->
<!--                                    <div class="price">-->
<!--                                        <span>$135</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <a href="#" class="border-btn border-btn2">Find out more</a>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Single &ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

                <div class="topic-area section-padding40">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2>Courses</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'assets/img/gallery/topic2.png' %}" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="./22">Python</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'assets/img/gallery/topic2.png' %}" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="./22">MernStack</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'assets/img/gallery/topic8.png' %}" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="./22">Data Science</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'assets/img/gallery/topic8.png' %}" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="./22">Digital Marketing</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'assets/img/gallery/topic8.png' %}" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="./22">Flutter</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
<!--         Courses area End-->
<!--        ? About Area-1 Start-->
        <section class="about-area1 fix pt-10">
            <div class="support-wrapper align-items-center">
                <div class="left-content1">
                    <div class="about-icon">
                        <img src="assets/img/icon/about.svg" alt="">
                    </div>
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-55">
                        <div class="front-text">
                            <h2 class="">About Us</h2>
                            <p>We provide mainly 5 course for the users and is guided by experienced tutors with only affordable fees.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="assets/img/icon/right-icon.svg" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Student friendly</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="assets/img/icon/right-icon.svg" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Well maintained</p>
                        </div>
                    </div>

                    <div class="single-features">
                        <div class="features-icon">
                            <img src="assets/img/icon/right-icon.svg" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Secure</p>
                        </div>
                    </div>
                </div>
                <div class="right-content1">
                    <!-- img -->
                    <div class="right-img">
                        <img src="{% static 'assets/img/gallery/about.png' %}" alt="">

                        <div class="video-icon" >
                            <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=up68UAfH0d0"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <!--? top subjects Area Start -->

        <!-- top subjects End -->
        <!--? About Area-3 Start -->
<!--        <section class="about-area3 fix">-->
<!--            <div class="support-wrapper align-items-center">-->
<!--                <div class="right-content3">-->
<!--                    &lt;!&ndash; img &ndash;&gt;-->
<!--                    <div class="right-img">-->
<!--                        <img src="{% static 'assets/img/gallery/about3.png' %}" alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="left-content3">-->
<!--                    &lt;!&ndash; section tittle &ndash;&gt;-->
<!--                    <div class="section-tittle section-tittle2 mb-20">-->
<!--                        <div class="front-text">-->
<!--                            <h2 class="">Learner outcomes on courses you will take</h2>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single-features">-->
<!--                        <div class="features-icon">-->
<!--                            <img src="assets/img/icon/right-icon.svg" alt="">-->
<!--                        </div>-->
<!--                        <div class="features-caption">-->
<!--                            <p>Techniques to engage effectively with vulnerable children and young people.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single-features">-->
<!--                        <div class="features-icon">-->
<!--                            <img src="assets/img/icon/right-icon.svg" alt="">-->
<!--                        </div>-->
<!--                        <div class="features-caption">-->
<!--                            <p>Join millions of people from around the world-->
<!--                            learning together.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single-features">-->
<!--                        <div class="features-icon">-->
<!--                            <img src="assets/img/icon/right-icon.svg" alt="">-->
<!--                        </div>-->
<!--                        <div class="features-caption">-->
<!--                            <p>Join millions of people from around the world learning together.-->
<!--                            Online learning is as easy and natural.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
<!--         About Area End-->
<!--        ? Team-->
<!--        <section class="team-area section-padding40 fix">-->
<!--            <div class="container">-->
<!--                <div class="row justify-content-center">-->
<!--                    <div class="col-xl-7 col-lg-8">-->
<!--                        <div class="section-tittle text-center mb-55">-->
<!--                            <h2>Community experts</h2>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="team-active">-->
<!--                    <div class="single-cat text-center">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team1.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html">Mr. Urela</a></h5>-->
<!--                            <p>The automated process all your website tasks.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single-cat text-center">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team2.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html">Mr. Uttom</a></h5>-->
<!--                            <p>The automated process all your website tasks.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single-cat text-center">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team3.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html">Mr. Shakil</a></h5>-->
<!--                            <p>The automated process all your website tasks.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single-cat text-center">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team4.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html">Mr. Arafat</a></h5>-->
<!--                            <p>The automated process all your website tasks.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single-cat text-center">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team3.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html">Mr. saiful</a></h5>-->
<!--                            <p>The automated process all your website tasks.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
<!--&lt;!&ndash;         Services End&ndash;&gt;-->
<!--&lt;!&ndash;        ? About Area-2 Start&ndash;&gt;-->
<!--        <section class="about-area2 fix pb-padding">-->
<!--            <div class="support-wrapper align-items-center">-->
<!--                <div class="right-content2">-->
<!--                    &lt;!&ndash; img &ndash;&gt;-->
<!--                    <div class="right-img">-->
<!--                        <img src="{% static 'assets/img/gallery/about2.png' %}" alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="left-content2">-->
<!--                    &lt;!&ndash; section tittle &ndash;&gt;-->
<!--                    <div class="section-tittle section-tittle2 mb-20">-->
<!--                        <div class="front-text">-->
<!--                            <h2 class="">Take the next step-->
<!--                                toward your personal-->
<!--                                and professional goals-->
<!--                            with us.</h2>-->
<!--                            <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.</p>-->
<!--                            <a href="#" class="btn">Join now for Free</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
        <!-- About Area End -->
                <!-- Contact Start -->
        <section id="contact">
        <div class="contact">
            <div class="container">
                <div class="section-tittle text-center mb-55">
                    <h1>Contact Us</h1>
                    <h2>Contact For Any Query</h2>
                </div>
                <div class="row align-items-center contact-information">
                    <div class="col-md-6 col-lg-3">
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fa fa-map-marker-alt"></i>
                            </div>
                            <div class="contact-text">
                                <h3>Address</h3>
                                <p>123 Street, NY, USA</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fa fa-phone-alt"></i>
                            </div>
                            <div class="contact-text">
                                <h3>Call Us</h3>
                                <p>+012 345 6789</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="contact-text">
                                <h3>Email Us</h3>
                                <p>courses@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fa fa-share"></i>
                            </div>
                            <div class="contact-text">
                                <h3>Follow Us</h3>
                                <div class="contact-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="row contact-form">-->
<!--                    <div class="col-md-6">-->
<!--                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1600663868074!5m2!1sen!2sbd" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->
<!--                    </div>-->
<!--                    <div class="col-md-6">-->
<!--                        <div id="success"></div>-->
<!--                        <form name="sentMessage" id="contactForm" novalidate="novalidate">-->
<!--                            <div class="control-group">-->
<!--                                <input type="text" class="form-control" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" />-->
<!--                                <p class="help-block text-danger"></p>-->
<!--                            </div>-->
<!--                            <div class="control-group">-->
<!--                                <input type="email" class="form-control" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />-->
<!--                                <p class="help-block text-danger"></p>-->
<!--                            </div>-->
<!--                            <div class="control-group">-->
<!--                                <input type="text" class="form-control" id="subject" placeholder="Subject" required="required" data-validation-required-message="Please enter a subject" />-->
<!--                                <p class="help-block text-danger"></p>-->
<!--                            </div>-->
<!--                            <div class="control-group">-->
<!--                                <textarea class="form-control" id="message" placeholder="Message" required="required" data-validation-required-message="Please enter your message"></textarea>-->
<!--                                <p class="help-block text-danger"></p>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <button class="btn custom-btn" type="submit" id="sendMessageButton">Send Message</button>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
        </section>
        <!-- Contact End -->
    </main>
    <footer>
     <div class="footer-wrappper footer-bg">
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo mb-25">
                                    <a href="index.html"><img src="{% static 'assets/img/logo/logo2_footer.png' %}" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p></p>
                                    </div>
                                </div>
                                <!-- social -->
                                <div class="footer-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">-->
<!--                        <div class="single-footer-caption mb-50">-->
<!--                            <div class="footer-tittle">-->
<!--                                <h4>Our solutions</h4>-->
<!--                                <ul>-->
<!--                                    <li><a href="#">Design & creatives</a></li>-->
<!--                                    <li><a href="#">Telecommunication</a></li>-->
<!--                                    <li><a href="#">Restaurant</a></li>-->
<!--                                    <li><a href="#">Programing</a></li>-->
<!--                                    <li><a href="#">Architecture</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">-->
<!--                        <div class="single-footer-caption mb-50">-->
<!--                            <div class="footer-tittle">-->
<!--                                <h4>Support</h4>-->
<!--                                <ul>-->
<!--                                    <li><a href="#">Design & creatives</a></li>-->
<!--                                    <li><a href="#">Telecommunication</a></li>-->
<!--                                    <li><a href="#">Restaurant</a></li>-->
<!--                                    <li><a href="#">Programing</a></li>-->
<!--                                    <li><a href="#">Architecture</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">-->
<!--                        <div class="single-footer-caption mb-50">-->
<!--                            <div class="footer-tittle">-->
<!--                                <h4>Company</h4>-->
<!--                                <ul>-->
<!--                                    <li><a href="#">Design & creatives</a></li>-->
<!--                                    <li><a href="#">Telecommunication</a></li>-->
<!--                                    <li><a href="#">Restaurant</a></li>-->
<!--                                    <li><a href="#">Programing</a></li>-->
<!--                                    <li><a href="#">Architecture</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Footer End-->
      </div>
  </footer> 
  <!-- Scroll Up -->
  <div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static './assets/js/popper.min.js' %}"></script>
<script src="{% static './assets/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static './assets/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static './assets/js/wow.min.js' %}"></script>
<script src="{% static './assets/js/animated.headline.js' %}"></script>
<script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static './assets/js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static './assets/js/jquery.sticky.js' %}"></script>
<!-- Progress -->
<script src="{% static './assets/js/jquery.barfiller.js' %}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static './assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static './assets/js/waypoints.min.js' %}"></script>
<script src="{% static './assets/js/jquery.countdown.min.js' %}"></script>
<script src="{% static './assets/js/hover-direction-snake.min.js' %}"></script>

<!-- contact js -->
<script src="{% static './assets/js/contact.js' %}"></script>
<script src="{% static './assets/js/jquery.form.js' %}"></script>
<script src="{% static './assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static './assets/js/mail-script.js' %}"></script>
<script src="{% static './assets/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{% static './assets/js/plugins.js' %}"></script>
<script src="{% static './assets/js/main.js' %}"></script>

</body>
</html>